.wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    background-color: #EEE;
}

.container {
    width: 30%;
    height: 100%;
    margin-top: 5%;
    box-shadow: 0 .125rem 1rem rgba(0, 0, 0, .20);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    gap: 1.4em;
    background-color: white;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75em;
}

.heading h2 {
    font-weight: 600;
}

.heading p {
    font-weight: 350;
}

.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    height: 100%;
}