.container {
    width: 30%;
    height: 100%;
    margin-top: 8%;
    box-shadow: 0 .125rem 1rem rgba(0, 0, 0, .20);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    gap: 1.4em;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75em;
}

.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 90%;
    height: 100%;
}